#texto{
    color:aqua;
}

#teste {
    color: aqua;
}

a{
    text-decoration:none;
    color:#000;
}

#Link {
    color: #00008B;
}

#Link:hover {
    color: #fff;
}

#Link_index {
    color: #fff;
}

#h1_index {
    color: #000080;
}

#h2_index {
    font-weight: bold;
}

#titulo {
    font-weight: bold;
    color: #000080;
}

#contato {
    margin-top: 150px;
}

#card_sobre {
    margin-top: 70px;
    margin-left: 70px;
}

#img_contato {
    width: 250px;
    height: 250px;
}

#img_sobre {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px #000 solid;
}

#jumbotron {
    margin-top: 50px;
}

#footer {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0px;
}

#copy {
    margin-left: 20px;
    color: #00008B;
}

#h3_sobre {
    margin-left: 420px;
    font-weight: bold;
}

#p_faqs {
    color: #696969;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
