@{
    ViewBag.Title = "Contato";
}

<div id="contato" class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <h2>@ViewBag.Title</h2>
              <h3>@ViewBag.Message</h3>
              <address>
                  LolStatistics<br />
                  <abbr title="Phone">P:</abbr>
                  11 97895-5454
              </address>
              <address>
                  <strong>Suporte: </strong><a href="mailto:SuporteLolStatistics@gmail.com">SuporteLolStatistics@gmail.com</a><br />
              </address>
          </div>
        <div class="col-auto d-none d-lg-block">
            <img  id="img_contato" src="~/Imagens/4067833.jpg"/>
        </div>
      </div>
    </div>
</div>
