@{
    ViewBag.Title = "FAQs";
}

<div class="accordion" id="accordionExample">
    <br/>
    <h3>Perguntas frequentes</h3>
    <br/>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Precisa criar uma conta para acessar o conteúdo?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p id="p_faqs">Ter sim uma opção para que o usuário se cadastre, mais não é obrigatório</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                O conteúdo mostrando precisa pargar para ter acesso?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p id="p_faqs">Os conteúdo mostrando no site é 100% gratuito, podendo ser visualizado por qualquer pessoa</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Como eu faço uma reclamação no site?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p id="p_faqs">Só manda um email em <a href="mailto:SuporteLolStatistics@gmail.com">SuporteLolStatistics@gmail.com</a> que estaremos lendo</p>
            </div>
        </div>
    </div>
</div>