@{
    ViewBag.Title = "Home";
}
<div id="jumbotron" class="p-5 mb-4 rounded-3" style="background: #F0FFF0">
    <div class="container-fluid py-5">
        <h1 id="h1_index" class="display-5 fw-bold">LolStatistics</h1>
        <p class="col-md-7 fs-4">Venha conhecer tudo sobre o seu campeão de League of Legends no nosso site, contendo varias builds e runas para que o jogador escolha atentemente.</p>
        <br/>
        <button class="btn btn-primary" type="button">
            @Html.ActionLink("Ver detalhes", "Sobre", "Home", htmlAttributes: new { @id = "Link_index" }) &raquo;
        </button>
    </div>
</div>
