@model LolStatistics.Models.Usuario

@{
    ViewBag.Title = "Dados do Usuário";
}
<br />
<h2>Dados do Cadastro</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Login
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Senha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

    </dl>
</div>