
@{
    ViewBag.Title = "Sobre";
}
<br />
<h3 id="h3_sobre">O que oferecemos?</h3>
<div id="card_sobre" class="row">
    <div class="col-lg-4">
        <img id="img_sobre" src="~/Imagens/Builds.png" />
        <h2 id="h2_index">Builds</h2>
        <p>Ache a builds ideal para o seu campeão em determinada situação.</p>
        <p><a class="btn btn-primary" href="#">Ver detalhes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <img id="img_sobre" src="~/Imagens/runa.jpg" />
        <h2 id="h2_index">Runas</h2>
        <p>Siga as habilidades para que voçe possa se dá bem no jogo.</p>
        <p><a class="btn btn-primary" href="#">Ver detalhes &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <img id="img_sobre" src="~/Imagens/ahri.jpg" />
        <h2 id="h2_index">Campeões</h2>
        <p>Veja o seu campeão, suas habilidades e rotas onde entram.</p>
        <p><a class="btn btn-primary" href="#">Ver detalhes &raquo;</a></p>
    </div>
</div>